In [ ]:
%matplotlib inline

In [2]:
import pandas as pd
import numpy as np
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from matplotlib import pyplot as plt
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import cross_val_score
from sklearn.metrics import mean_squared_error
from math import sqrt
from sklearn.metrics import accuracy_score

In [3]:
df = pd.read_csv('superconduct/train.csv')

In [4]:
df.head()

,number_of_elements,mean_atomic_mass,wtd_mean_atomic_mass,gmean_atomic_mass,wtd_gmean_atomic_mass,entropy_atomic_mass,wtd_entropy_atomic_mass,range_atomic_mass,wtd_range_atomic_mass,std_atomic_mass,...,wtd_mean_Valence,gmean_Valence,wtd_gmean_Valence,entropy_Valence,wtd_entropy_Valence,range_Valence,wtd_range_Valence,std_Valence,wtd_std_Valence,critical_temp
0,4,88.944468,57.862692,66.361592,36.116612,1.181795,1.062396,122.90607,31.794921,51.968828,...,2.257143,2.213364,2.219783,1.368922,1.066221,1,1.085714,0.433013,0.437059,29.0
1,5,92.729214,58.518416,73.132787,36.396602,1.449309,1.057755,122.90607,36.161939,47.094633,...,2.257143,1.888175,2.210679,1.557113,1.047221,2,1.128571,0.632456,0.468606,26.0
2,4,88.944468,57.885242,66.361592,36.122509,1.181795,0.975980,122.90607,35.741099,51.968828,...,2.271429,2.213364,2.232679,1.368922,1.029175,1,1.114286,0.433013,0.444697,19.0
3,4,88.944468,57.873967,66.361592,36.119560,1.181795,1.022291,122.90607,33.768010,51.968828,...,2.264286,2.213364,2.226222,1.368922,1.048834,1,1.100000,0.433013,0.440952,22.0
4,4,88.944468,57.840143,66.361592,36.110716,1.181795,1.129224,122.90607,27.848743,51.968828,...,2.242857,2.213364,2.206963,1.368922,1.096052,1,1.057143,0.433013,0.428809,23.0

In [6]:
df_features = df.iloc[:, 0:81]
df_target = df.iloc[:, 81:]
df_target.head()

   critical_temp
0           29.0
1           26.0
2           19.0
3           22.0
4           23.0

In [7]:
a = []
x = 0
for i in df_features.columns:
    a.append(x)
    x += 1

In [21]:
n = 9
pca = PCA(n_components= n)

sds = StandardScaler().fit_transform(df_features)

PCs = pca.fit_transform(sds)

principle_Df = pd.DataFrame(data = PCs
             , columns = a[0:n])

C:\Users\noah\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:617: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\noah\Anaconda3\lib\site-packages\sklearn\base.py:462: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [22]:
principle_Df.head()

,0,1,2,3,4,5,6,7,8
0,-3.664487,0.991643,3.045258,1.713725,0.246052,-0.203200,0.450977,-0.220228,-0.384338
1,-4.555468,-0.214584,1.722872,1.111495,0.981000,-1.011519,-0.245317,0.214111,0.408162
2,-3.488176,1.055168,3.130819,1.811591,0.296328,-0.211813,0.485250,0.010310,-0.497032
3,-3.581284,1.020145,3.084661,1.760859,0.270510,-0.208447,0.466625,-0.108829,-0.439414
4,-3.809671,0.948297,2.981357,1.627398,0.199676,-0.188447,0.426037,-0.426645,-0.279435

In [23]:
pca.explained_variance_ratio_

array([0.38931798, 0.10482209, 0.095212  , 0.0790773 , 0.05882183,
       0.03788369, 0.03622251, 0.03107107, 0.02361112])

In [24]:
cum_var = pca.explained_variance_ratio_.cumsum()
cum_var

array([0.38931798, 0.49414007, 0.58935207, 0.66842937, 0.7272512 ,
       0.76513489, 0.8013574 , 0.83242847, 0.85603959])

In [25]:
X = principle_Df
y = df_target

In [26]:
DT = DecisionTreeRegressor()
DT.fit(X,y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [27]:
predicted_labels = DT.predict(X)

In [28]:
rms = sqrt(mean_squared_error(y, predicted_labels))
rms

4.302818789840542

In [17]:
#Train and Test splitting of data 
X_train, X_test, y_train, y_test = train_test_split(principle_Df, y, test_size = 0.25, random_state = 21)

In [18]:
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((15947, 5), (5316, 5), (15947, 1), (5316, 1))

In [19]:
DT = DecisionTreeRegressor()
DT.fit(X_train,y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [20]:
predicted_labels = DT.predict(X_test)
rms = sqrt(mean_squared_error(y_test, predicted_labels))
rms

14.737578969899074